VITE_UBER_EATS_URL=https://www.ubereats.com/
VITE_INSTAGRAM_URL=https://www.instagram.com/cafefausse/
VITE_FACEBOOK_URL=https://www.facebook.com/cafefausse/
VITE_TIKTOK_URL=https://www.tiktok.com/@cafefausse
